* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bar {
    background: rgba(0,100,0);
    text-align: center;
}

.bar ul {
    display: inline-flex;
    list-style: none;
}

.bar ul li {
    width: 110px;
    margin: 20px;
    padding: 8px;
    font-size: 15px;
}

.bar ul li a {
    text-decoration: none;
    color:wheat;
}

.bar ul li:hover {
    background-color: #2bab0d;
    border-radius: 3px;
}
.sub-bar{
    display: none;
}
.bar ul li:hover .sub-bar{
    display: block;
    position: absolute;
   margin-top: 8px;
   margin-left:-40px;
   border-radius:0px 0px 10px 10px ;
   background-color:rgba(0,100,0);
}
.bar ul li:hover .sub-bar ul{
    display: block;
    margin: 10px;
}
.bar ul li:hover .sub-bar ul li{
    padding: 8px;
    width:100px;
    background: transparent;
    text-align:left ;

    
    border-bottom: 1px dotted white;
}
.bar ul li:hover .sub-bar ul li:last-child{
    border-bottom: none;
}
.bar ul li:hover .sub-bar ul li a:hover{
    color: rgb(42, 165, 124);
}
.fa-angle-right{

    float: right;
}
.bar2{
display: none;
}
.easy:hover .bar2{
    position: absolute;
    display:block;
    margin-top: -20px;
    margin-left: 90px;
    background-color: rgb(0,100,0);
}
.p {
    font-size:30px; ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 200px;
    margin-right:50px; 
    padding:100px ;
}
